<section class="travels__results-section">
  <%= paginate @presenter %>

  <header class="travels__results-header">
    <ul>
      <li class="travels__results-header-column">
        <%= sortable "origin", "Desde" %>
      </li>
      <li class="travels__results-header-column">
        <%= sortable "destination", "Hasta" %>
      </li>
      <li class="travels__results-header-column">
        <%= sortable "departure", "Día" %>
      </li>
      <li class="travels__results-header-column">
        <span>Modelo de Auto</span>
      </li>
      <li class="travels__results-header-column">
        <span>Acciones</span>
      </li>
    </ul>
  </header>

  <ul class="travels__results-list">
    <% @presenter.each do |travel| %>
      <li class="travels__result">
        <ul class="travels__result-info">
          <li class="travels__result-column">
            <span><%= travel["travel_information"]["origin"] %></span>
          </li>
          <li class="travels__result-column">
            <span><%= travel["travel_information"]["destination"] %></span>
          </li>
          <li class="travels__result-column">
            <span><%= travel["travel_information"]["departure"] %></span>
          </li>
          <li class="travels__result-column">
            <span>
              <%= travel["car_information"]["model"] %>
              <%= travel["car_information"]["year"] %>
            </span>
          </li>
          <li class="travels__result-column">
            <button
              class="travels__result-action-button travels__result-action-button--edit"
              data-toggle="modal"
              data-target="#edit-modal"
            >
            </button>
            <button
              class="travels__result-action-button travels__result-action-button--subscribers"
              data-toggle="modal"
              data-target="#subscribers-modal"
            >
            </button>
            <button
              class="travels__result-action-button travels__result-action-button--delete"
              data-toggle="modal"
              data-target="#delete-modal"
            >
            </button>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</section>
