<section class="travels__form-section">
  <%= form_tag({controller: "travels", action: "create"}, {method: "post", class: "travels__form"}) do %>
    <fieldset class="travels__form-field">
      <%= label_tag :origin, "De dónde", class: "travels__form-label travels__form-label--finder" %>
      <%= text_field_tag :origin, nil, class: 'travels__form-input', :required => true %>
    </fieldset>

    <fieldset class="travels__form-field">
      <%= label_tag :destination, "A dónde", class: "travels__form-label travels__form-label--finder" %>
      <%= text_field_tag :destination, nil, class: 'travels__form-input', :required => true %>
    </fieldset>

    <fieldset class="travels__form-field">
      <%= label_tag :departure, "Cuándo", class: "travels__form-label travels__form-label--calendar" %>
      <input
        id="departure"
        class="travels__form-input"
        type="text"
        name="departure"
        data-provide="datepicker"
        readonly
        required
      >
    </fieldset>

    <fieldset class="travels__form-field">
      <%= label_tag :car_model, "Modelo de auto", class: "travels__form-label" %>
      <%= text_field_tag :car_model, nil, class: 'travels__form-input', :required => true %>
    </fieldset>

    <fieldset class="travels__form-field">
      <%= label_tag :places, "Lugares", class: "travels__form-label" %>
      <%= number_field_tag :places, nil, within: 1...5, class: 'travels__form-input', :required => true %>
    </fieldset>

    <fieldset class="travels__form-field">
      <button
          type="submit"
          class="travels__form-submit"
      >
        <span>
          Ofrecer
        </span>
      </button>
    </fieldset>
  <% end %>
</section>
