<section class="travels__results">
  <%= paginate @travels %>

  <header class="travels__results-header">
    <ul>
      <li class="travels__results-header-column">
        <span>Foto</span>
      </li>
      <li class="travels__results-header-column">
        <%= sortable "first", "Nombre" %>
      </li>
      <li class="travels__results-header-column">
        <%= sortable "first", "Edad" %>
      </li>
      <li class="travels__results-header-column">
        <span>Modelo de Auto</span>
      </li>
    </ul>
  </header>

  <ul class="travels__results-list">
    <% @travels.each do |travel| %>
      <li class="travels__result">
        <ul class="travels__result-info">
          <li class="travels__result-column">
            <div class="travels__result-profile-picture">
              <%= image_tag "#{@profile_picture}", alt: "Profile picture" %>
            </div>
          </li>
          <li class="travels__result-column">
            <span><%= @user.first_name %></span>
            <span><%= @user.last_name %></span>
          </li>
          <li class="travels__result-column">
            <span><%= @age %></span>
          </li>
          <li class="travels__result-column">
            <span>
              <%= travel.car.model %>
              <%= travel.car.year %>
            </span>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</section>
