<article class="user">
  <%= render 'user_pages/header' %>

  <section class="user__form-section">
    <form class="user__form user__form--search">
      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--finder" for="user-from-input">
          De dónde
        </label>
        <input type="" name="" id="user-from-input" class="user__form-input">
      </fieldset >
      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--finder" for="user-to-input">
          A dónde
        </label>
        <input type="" name="" id="user-to-input" class="user__form-input">
      </fieldset>
      <fieldset class="user__form-field">
        <label class="user__form-label user__form-label--calendar" for="user-when-input">
          Cuándo
        </label>
        <input
          id="user-when-input"
          class="user__form-datepicker"
          type="text"
          data-provide="datepicker"
          readonly
        >
      </fieldset>
      <fieldset class="user__form-field">
        <button
          type="submit"
          data-behavior="search-travels"
          class="user__form-submit"
        >
          <span>
            Buscar
          </span>
        </button>
      </fieldset>
    </form>
  </section>

  <section class="user__results-section">
    <section class="user__filter-section">
      <header class="user__filter-header">
        <div class="user__filter-header-left">
          <span class="user__filter-results-amount">4</span>
          <span>Servicios encontrados</span>
        </div>
        <div class="user__filter-header-right">
          <button
            class="user__filter-button"
            data-toggle="collapse"
            data-target="#filters"
            aria-expanded="false"
            aria-controls="filters"
          >
            <span>
              Filtrar resultados
            </span>
          </button>
        </div>
      </header>
      <div id="filters" class="collapse">
        <form class="user__filter-content">
          <fieldset class="user__filter">
            <label class="user__filter-label">Edad</label>
            <div class="user__filter-slider-container">
              <div id="user__filter-age-slider"></div>
            </div>
            <span id="minAge" class="user__filter-min"></span>
            <span id="maxAge" class="user__filter-max"></span>
          </fieldset>
          <fieldset class="user__filter">
            <label class="user__filter-label">Modelo de Auto</label>
            <div class="user__filter-slider-container">
              <div id="user__filter-model-slider"></div>
            </div>
            <span id="minModel" class="user__filter-min"></span>
            <span id="maxModel" class="user__filter-max"></span>
          </fieldset>
          <fieldset class="user__filter user__filter--gender">
            <label class="user__filter-label">Sexo</label>
            <div class="user__filter-radio">
              <input type="radio" name="gender" value="female" id="female-radio">
              <label class="user__filter-label" for="female-radio">Femenino</label>
            </div>
            <div class="user__filter-radio">
              <input type="radio" name="gender" value="male" id="male-radio">
              <label class="user__filter-label" for="male-radio">Masculino</label>
            </div>
          </fieldset>
        </form>
      </div>
    </section>

    <section class="user__results">
      <ul class="user__results-list">
        <li class="user__result">
          <div class="user__result-profile user__result-profile--picture">
            <%= image_tag("profile.png", alt: "Profile picture") %>
          </div>
          <div class="user__result-profile user__result-profile--info">
            <%= link_to "Nombre y Apellido del Conductor", root_path, class: "user__result-name" %>
            <span class="user__result-age">28 años fecha de nacimiento 00/00/00</span>
            <span class="user__result-model">
              <b>Modelo de Auto: </b>
              Ford Fiesta Kinetic 2015
            </span>
          </div>
        </li>
        <li class="user__result">
          <div class="user__result-profile user__result-profile--picture">
            <%= image_tag("profile.png", alt: "Profile picture") %>
          </div>
          <div class="user__result-profile user__result-profile--info">
            <%= link_to "Nombre y Apellido del Conductor", root_path, class: "user__result-name" %>
            <span class="user__result-age">28 años fecha de nacimiento 00/00/00</span>
            <span class="user__result-model">
              <b>Modelo de Auto: </b>
              Ford Fiesta Kinetic 2015
            </span>
          </div>
        </li>
      </ul>
    </section>
  </section>
</article>
